<!DOCTYPE html>
<html>
<head>
  <title>I Love You - выскажи свои чувства!</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css.map">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css.map">
  <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">  
</head>
<body>
<div align="left" style="background:Indigo;padding-top:0.01%;padding-left:7%; padding-bottom:1%">
	<h1>
		<a href="/" style="color:white;">
			I Love You
		</a>
	</h1>
</div>
<%= yield %>
<div class="row">
	<div class="col-md-6 col-md-offset-3"> 
		<div align="center">
		<div class="separator">&nbsp;</div>		
			<% if @visits_not_unique == 1%>
				<b><i><%= @visits_not_unique %></i></b> посещение за всё время
			<% elsif @visits_not_unique > 1 and @visits_not_unique < 5 %>
				<b><i><%= @visits_not_unique %></i></b> посещения за всё время
			<% elsif @visits_not_unique >= 5 and @visits_not_unique %>
				<b><i><%= @visits_not_unique %></i></b> посещений за всё время
			<% end %>

			<% if @visits_unique == 1%>
				<p><b><i><%= @visits_unique %></i></b> уникальное посещение за всё время</p>
			<% elsif @visits_unique > 1 and @visits_unique < 5 %>
				<p><b><i><%= @visits_unique %></i></b> уникальных посещения за всё время</p>
			<% elsif @visits_unique >= 5 and @visits_unique %>
				<p><b><i><%= @visits_unique %></i></b> уникальных посещений за всё время</p>
			<% end %>
		</div>
	</div>
</div>
</body>
</html>

